@charset "UTF-8";

/* main */
.shopping-cart {
    max-width: 1200px;
    width: 50%;
    height: auto;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 280px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.title {
    height: 60px;
    border-bottom: 2px solid #EDECEB;
    text-align: center;
    padding-top: 10px;
    color: #887559;
    font-size: 0.8rem;
}

#js_shopping_list {
    width: 100%;
}

.item {
    width: 100%;
    height: 80px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EDECEB;
}

.is-del {
    display: none;
}

.del-btn {
    width: 26px;
    height: 26px;
    cursor: pointer;
    background: url(../img/icon_del-btn.svg) no-repeat center;
    padding: 5px;
}

.thumb img {
    width: 40px;
    height: 40px;
}

.text {
    width: 40%;
    font-size: 0.8rem;
}

.price {
    width: 30%;
    font-size: 0.9rem;
    font-family: 'Ovo', serif;
    text-align: right;
    letter-spacing: 0.15rem;
}

.total {
    width: 100%;
    height: 80px;
    padding: 40px 30px;
    font-size: 0.9rem;
    font-family: 'Ovo', serif;
    text-align: right;
    letter-spacing: 0.15rem;
}

.btn-area {
    width: 50%;
    margin: 0 auto;
    margin-top: 60px;
}

.btn-area a {
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.btn {
    width: 220px;
    height: 40px;
    border-radius: 1px;
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
    font-family: 'Noto Serif JP', serif;
    margin-bottom: 0;
}

.buy {
    border: 1px solid #887559;
    background-color: #887559;
    color: #EDECEB;
    transition: .4s;
    margin-bottom: 160px;
}

.return-store {
    display: none;
}

.buy:hover {
    background-color: #EDECEB;
    border: 1px solid #887559;
    color: #887559;
}

/* スマホ */
@media screen and ( max-width: 560px ) {
    /* main */
    main {
        padding: 20px;
    }

    .shopping-cart {
        width: 100%;
        margin-top: 140px;
        padding: 20px;
    }

    .title {
        height: 80px;
        padding-top: 25px;
        font-size: 0.8rem;
    }

    .item {
        height: 100px;
        padding: 0;
        position: relative;
    }

    .icon {
        width: 10%;
        padding: 5px;
    }

    .thumb {
        width: 20%;
    }

    .thumb img {
        width: 100%;
        height: auto;
        padding: 5px;
    }

    .text {
        width: 45%;
        line-height: 1.5rem;
        padding: 10px;
        font-size: 0.7rem;
    }

    .price {
        padding: 10px;
        width: 25%;
        font-size: 0.7rem;
    }

    .total {
        padding: 40px 10px;
    }

    .btn-area {
        display: block;
        text-align: center;
    }

    .btn {
        margin: 0 auto;
    }

    .buy {
        margin-bottom: 30px;
    }

    .return-store {
        border: 1px solid #887559;
        background-color: #EDECEB;
        color: #887559;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}