@charset "UTF-8";

.form-container {
    margin: 0 auto;
    max-width: 1200px;
    width: 500px;
}

.name, .mail {
    width: 100%;
    height: 40px;
    background: #ffffff;
    margin-top: 20px;
    padding-left: 15px;
    border: none;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    font-family: 'Noto Serif JP', serif;
    outline: 0;
    color: #181818;
}

.textbox {
    width: 100%;
    height: 300px;
    background: #ffffff;
    margin-top: 20px;
    padding: 15px;
    border: none;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    font-family: 'Noto Serif JP', serif;
    outline: 0;
    color: #181818;
}

::placeholder{
    color:#ccc
}

.btn-area {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.btn {
    width: 220px;
    height: 40px;
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
    font-family: 'Noto Serif JP', serif;
    border-radius: 1px;
}

.btn-area .send {
    border: 1px solid #887559;
    background-color: #887559;
    color: #EDECEB;
    transition: .4s;
}

.btn-area .send:hover {
    background-color: #EDECEB;
    border: 1px solid #887559;
    color: #887559;
}

.sendmsg {
    margin: 0 auto;
    width: 500px;
    height: calc(100vh - 160px);
    color: #887559;
    text-align: center;
}

.errmsg {
    color: #900;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

/* スマホ */
@media screen and ( max-width: 560px ) {
    main {
        padding: 20px;
    }

    .form-container {
        width: 100%;
    }

    .form-container p {
        font-size: 0.8rem;
    }
}